html{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

}

body{
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: gainsboro;
}

.header { 
    border: 1px solid black;
    background-color: burlywood;
    grid-area: header;
}

.main {     
    border: 1px solid black;
    background-color: darkkhaki;
    grid-area: main;
}

.widget {
border: 1px solid black;
background-color: goldenrod;
grid-area: widget;
}


.footer {
border: 1px solid black;
background-color: lightseagreen;
grid-area: footer;
}

.container {
 display: grid;
 min-height: 100vh;
}


@media (max-width: 320px){
body {background-color: steelblue;
grid-template-rows: 80px 175px 100px 80px;
padding: 1px;}
    }

@media (max-width: 768px) {
    body {background-color: yellowgreen;}
    .container{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header main" 
        "header widget"
        "header footer";
        grid-template-rows:5fr 3fr 1fr; 
    
    }
}

@media (max-width: 320px) {
    .container{
        background-color: yellow;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4;
        grid-template-areas:
        "header"
        "widget"
        "footer"
        "main";
    }
}

@media (min-width: 768px) {
    .container{
        background-color: skyblue;
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: 8fr 1fr;
        grid-template-areas:
        "header main widget"
        "header footer widget";
    }
    
}